<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit at dolorum consectetur veniam? Dicta nisi sequi pariatur enim eius eaque libero quo porro iste odio saepe hic, fuga quisquam nihil nesciunt cupiditate sunt quibusdam ab dignissimos a sapiente. Vel totam ab quibusdam quasi voluptatum labore, id dolorum velit distinctio rem!</p>


</body>
</html>